@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Indie+Flower&family=Mr+De+Haviland&family=Petit+Formal+Script&family=Shadows+Into+Light&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    color: rgb(232, 232, 231);
}

body{
    width: 100%;
    background-color: #2f2f2f;
}

#main-container{
    max-width: 100%; 
    margin: 0px auto; 
}


/*=============================================
=            Navigation menu            =
=============================================*/

#nav-div{
    margin: 0px auto;
    text-align: center;
    height: inherit;
    background-color: rgb(111, 112, 114);    
}

#top-nav{
    font-size: 1.2rem;
    font-family: "Petit Formal Script", serif;
    font-weight: 400;
    font-style: normal;
}

#top-nav > ul{
    /* height: inherit; */
    display: inline-flex;    
}

#top-nav > ul > li{
    display: inline;
    padding: 4px 10px;
    height: 40px;    
}

/*=====  End of Navigation menu  ======*/


/*=============================================
=            Image banner css            =
=============================================*/

#banner > img{
    height: auto;
    width: 100%;
    margin: 0px auto;
}

/*=====  End of Image banner css  ======*/

#section-container{
    margin: 0px auto;
}
/*=============================================
=            marquee section css            =
=============================================*/
marquee{
    font-size: 24px;
    background-color: rgb(111, 112, 114);   
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 40px;
    padding-top: 3px;
    letter-spacing: 3px;    
}

/*=====  End of marquee section css  ======*/


/*=============================================
=            Flex container for article section            =
=============================================*/

#flex-container{
    display: flex;
    width: 920px;
    margin: 20px auto 0px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    background: inherit;
    font-size: 1.3rem;
}

#aticle-container1{
    max-width: 300px;
    border: 1px solid #fbfbd1;
    box-sizing: content-box;
    padding: 10px;
    background-color: rgb(82, 81, 81);    
}

.article-title{
    border: 1px solid #fbfbd1;
    border-radius: 10px 10px 10px 10px;
    text-align: center; 
    padding: 3px;
    font-size: 24px;
    margin-bottom: 10px;    
    box-shadow: 0px 0px 1px 3px rgb(29, 28, 30);
}
/*=====  End of Flex container for article section  ======*/

.st-first-l{
    font-size: 3rem;
    color: antiquewhite;
}

#aticle-container2{
    max-width: 300px;
    border: 1px solid #fbfbd1;
    box-sizing: content-box;
    padding: 10px;
    background-color: rgb(82, 81, 81);
    margin: 0px 30px 0px 30px;
}

fieldset{
    border: 1px solid antiquewhite;
    background-color: rgb(82, 81, 81);
    padding: 10px;
    text-align: justify;
    font-family: "Petit Formal Script", serif;
    font-weight: 400;
    font-style: normal;    
    line-height: 1.8rem;
    margin-top: 10px;
}
legend {
    font-size: 2rem;    
}


/*=============================================
=            Float Container            =
=============================================*/

#float-container{
    padding: 10px;
    background-color: rgb(82, 81, 81);
    border: 1px solid antiquewhite;
    margin-top: 30px;
    
}
#qoute-flex{
    display: flex;    
}
#google-font4{
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    width: auto;
    margin-left: 20px;
}
.user-image{
    width: 100px;
}

.user-image > img{
    width: 65px;
    margin-left: 12px;
}

#signature{
    font-size: 18px;
    text-align: right;
    font-family: "Shadows Into Light", serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 3px;
}

/*=====  End of Float Container  ======*/


/*=============================================
=            Go to top css            =
=============================================*/

#go-to-top{
    position: fixed;
    bottom: 10%;
    right: 5%;
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 10px;
}
#social{
    position: fixed;
    bottom: 50%;   
    text-align: center;    
    font-size: 2rem;
}

#facebook{
    height: 55px;
    width: 50px;
    background-color: #0866ff;    
    padding-top: 10px;
}

#x-twitter{
    height: 55px;
    width: 50px;
    background-color: black;    
    padding-top: 10px;
}

#youtube{
    height: 55px;
    width: 50px;
    background-color: red;    
    padding-top: 10px;
}

/*=====  End of Go to top css  ======*/


/*=============================================
=            feed back form css            =
=============================================*/
/* .headingdiv {
    background-color: navy;
    text-align: center;
    color: white;
} */
#Feedback-submit{
    margin: auto;
}
form{
    width: 500px;    
}

textarea{
    /* margin-left: 200px; */
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
form > div{
    margin-top: 10px;
}

.btn-success{
    background-color: #2f2f2f;
    width: 90px;
    height: 35px;
    margin-top: 10px;
}
/*=====  End of feed back form css  ======*/

#flex-container-feedback{
    display: flex;
    width: 28%;
    margin: 20px auto 0px;
}

#footer{
    margin-top: 30px;
    text-align: center;
    background-color:rgb(82, 81, 81);

    p{
        padding-top: 30px;
    }
}
